.overlay {
  border-radius: 100px;
  color: black;
}
body {
  opacity: 0.7;
}

h2 {
  color: black;
  font-size: 30px;
}
b {
  border-radius: 30px;
}

p {
  color: black;
}

.imageHolder img {
  width: 100%;
  border-radius: 30px;
}

h4 {
  font-family: "Passion One", cursive;
  font-size: 24px;
}
